body {
  font-family:"Montserrat", sans-serif;
  background-color: #F9F2E7; /* Bege */
  margin: 0;
  padding: 0px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #a8c1bd; /* Cor principal */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 80px;
}

h1 {
  text-align: center;
  color: black;
  /*color: #819a95; /* Um tom mais escuro */
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #748d88; /* Outro tom */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #9bb4af; /* Tom intermediário */
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #8ea7a2; /* Tom suave */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color:#748d88; /* Tom escuro no hover */
}
footer {
  background-color: #5b5b5b;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin-top: 80px;
  width: 100%; /* Para garantir que o rodapé ocupe toda a largura */
   padding: 20px 0; /* Preenchimento superior e inferior */
  position: relative; /* Para garantir que qualquer posicionamento absoluto funcione corretamente */
  left: 0; /* Alinha à esquerda */
  bottom: 0; /* Alinha ao fundo */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1500px;
  width: 100%;
   /* padding-bottom: 10px;
  border-bottom: 1px solid #888;  */
}

.footer-logo img {
  max-width: 180px;
  margin-right: 60px;
  margin-left: 50px;
  border-radius: 10px;
}
.footer-logo p {
margin-left: 50px;

}

.footer-section, .footer-navigation {
  flex: 1 1 200px;
  margin: 10px 10px 10px 120px ;
}

.footer-section h3, .footer-navigation h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
}

.footer-section p, .footer-navigation ul {
  font-size: 14px;
  line-height: 1.6;
  color: #cccccc;
}

.footer-navigation ul {
  list-style-type: none;
  padding: 0;
}

.footer-navigation li {
  margin: 5px 0;
}

.footer-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.footer-navigation .button-gray {
  display: inline-block;
  padding: 5px 10px;
  background-color: #b3b3b3;
  color: #5b5b5b;
  border-radius: 5px;
  text-align: center;
}

.footer-navigation .button-gray:hover {
  background-color: #a3a3a3;
}

.footer-section .button-red {
  display: inline-block;
  padding: 8px 15px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.footer-section .button-red:hover {
  background-color: #cc0000;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #cccccc;
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

.social-icons a img {
  width: 40px;
  height: 40px;
}
