body {
  font-family:"Montserrat", sans-serif;
  background-color: #F9F2E7; /* Bege */
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #a8c1bd; /* Cor principal */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
  /*color: #819a95; /* Um tom mais escuro */
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #748d88; /* Outro tom */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #9bb4af; /* Tom intermediário */
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  background-color: #8ea7a2; /* Tom suave */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color:#748d88; /* Tom escuro no hover */
}

footer {
  background-color:gray; /* Cor de fundo mais escura */
  color: #ffffff; /* Texto branco */
  padding: 20px;
}

.footer-content {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto verticalmente */
  justify-content: space-between; /* Espaça a imagem e o texto */
}
  
.footer-image {
  align-items: top;
  max-width: 100px; /* Ajuste o tamanho da imagem */
  padding: 5px;
  margin-right: 20px; /* Espaçamento à direita da imagem */
  border-radius: 10px;
}

.footer-text {
  flex-grow: 1; /* Permite que o texto ocupe o espaço restante */
}

.footer-reference {
  margin-top: 10px; /* Espaçamento acima da descrição */
  text-align: center; /* Centraliza o texto da referência */
  font-size: 12px; /* Tamanho da fonte menor */
  color: #cccccc; /* Cor do texto da referência */
}

footer a {
  color: #007bff; /* Cor do link */
  text-decoration: none; /* Remove o sublinhado */
}

footer a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

