.container-pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;           /* Define a largura do container */
    height: 500px;
    margin: 0 auto;
    margin-top: 120px;
    padding-left: 20px;    /* Espaçamento interno */
    background-color: #9BB4AF;  /* Cor de fundo */
    border-radius: 30px;   /* Arredondamento dos cantos */
}

.texto-agende-conosco {
    padding-right: 420px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container-filho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;           /* Define a largura do container */
    height: 300px;
    padding: 20px;        /* Espaçamento interno */
    background-color: #d9d9d9;  /* Cor de fundo */
    border-radius: 30px;   /* Arredondamento dos cantos */
    position: relative;
    font-weight: bold;
}

.nao-tenho-cadastro {

}

.texto-sem-contorno {
    margin-top: 12%;
    font-weight: lighter;
}

.container-filho::before {
    content: '';
    width: 1px; /* Largura da linha */
    height: 100%; /* Altura da linha */
    background-color: black; /* Cor da linha */
    position: absolute;
    left: 50%; /* Centraliza horizontalmente */
    top: 0;
    transform: translateX(-50%);
}

.botao-cadastre-se {
    height: 50px;
    width: 200px;
    background-color: #748D88; /* Cor de fundo */
    color: black; /* Cor do texto */
    margin-top:12%;
    margin-left: 6%;
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 25px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra um cursor de mão ao passar o mouse */
    font-size: 12px; /* Tamanho da fonte */
    font-weight: bold;
    transition: background-color 0.3s; /* Suaviza a mudança de cor */
}

/* Efeito de hover */
.botao-cadastre-se:hover {
    background-color: #9BB4AF; /* Cor de fundo ao passar o mouse */
}
.ja-tenho-cadastro {
    margin-left: 62%;
    margin-top: 0%;
    
}

.nao-tenho-cadastro {
    display: flex;
    justify-content: center; /* Espaça os textos ao máximo */
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%; /* Ajusta a largura se necessário */
}

.texto-nao {
    margin-right: 100px; /* Aumente este valor para mais espaçamento */
}

.texto-ja {
    margin-left: 20px; /* Espaçamento no lado esquerdo do segundo texto */
}
