.container-pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 875px;           /* Define a largura do container */
    height: 650px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-left: 20px;    /* Espaçamento interno */
    background-color: #9BB4AF;  /* Cor de fundo */
    border-radius: 30px;   /* Arredondamento dos cantos */
}

.texto-agende-conosco {
    padding-right: 420px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container-filho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;           /* Define a largura do container */
    height: 400px;
    padding: 20px;        /* Espaçamento interno */
    background-color: #d9d9d9;  /* Cor de fundo */
    border-radius: 30px;   /* Arredondamento dos cantos */
    position: relative;
    font-weight: bold;
}

.texto-sem-contorno {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 12%;
    font-weight: lighter;
    font-family: "Montserrat", sans-serif;
}

.container-filho::before {
    content: '';
    width: 1px; /* Largura da linha */
    height: 100%; /* Altura da linha */
    background-color: black; /* Cor da linha */
    position: absolute;
    left: 50%; /* Centraliza horizontalmente */
    top: 0;
    transform: translateX(-50%);
}

.botao-cadastre-se {
    height: 18px;
    width: 150px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #748D88; /* Cor de fundo */
    color: black; /* Cor do texto */
    margin-left: 5px;
    margin-bottom: 60px;
    padding: 20px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 29px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra um cursor de mão ao passar o mouse */
    font-family: "Montserrat", sans-serif;
    font-size: 12px; /* Tamanho da fonte */
    font-weight: bold;
    transition: background-color 0.3s; /* Suaviza a mudança de cor */
    display: inline-block;
}

/* Efeito de hover */
.botao-cadastre-se:hover {
    background-color: #9BB4AF; /* Cor de fundo ao passar o mouse */
}

.botao-entrar {
    height: 18px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    background-color: #748D88; /* Cor de fundo */
    color: black; /* Cor do texto */
    padding: 20px 20px;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
    border-radius: 29px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 60px;
    display: inline-block;
}

/* Efeito de hover para o botão "Entrar" */
.botao-entrar:hover {
    background-color: #9BB4AF; /* Cor de fundo ao passar o mouse */
}

.ja-tenho-cadastro {
    margin-left: 62%;
    margin-top: 0%;
    
}

.nao-tenho-cadastro {
    display: flex;
    justify-content: center; /* Espaça os textos ao máximo */
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 100%; /* Ajusta a largura se necessário */
}

.texto-nao {
    margin-right: 100px; /* Aumente este valor para mais espaçamento */
}

.texto-ja {
    margin-left: 20px; /* Espaçamento no lado esquerdo do segundo texto */
}

.se-essa {
    margin-right: 100px; /* Aumente este valor para mais espaçamento */
}

.caixa-cpf {
    display: flex;
    flex-direction: column; /* Coloca o label acima do input */
}

.caixa-cpf label {
    margin-left: 25px;
    margin-right: 5px; /* Espaço entre o label e o input */
    margin-bottom: 5px; /* Espaço entre o label e o input */
    font-weight: bold;
    font-size: 15px;
}

.caixa-cpf input {
    height: 30px;
    padding: 10px;
    padding-left: 26px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 250px; /* Ajuste a largura conforme necessário */
}

.caixa-senha {
    display: flex;
    flex-direction: column; /* Coloca o label acima do input */
    font-family: "Montserrat", sans-serif;
    margin-left: 313px;
}

.caixa-senha label {
    margin-left: 25px;
    margin-right: 5px; /* Espaço entre o label e o input */
    margin-bottom: 5px; /* Espaço entre o label e o input */
    font-weight: bold;
    font-size: 15px;
}

.caixa-senha input {
    height: 30px;
    padding: 10px;
    padding-left: 26px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 250px; /* Ajuste a largura conforme necessário */
}

.container-botoes {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
    margin-top: 12%;
    margin-left: 6%;
}

.texto-esqueceu-senha {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #333; /* Cor do texto "Esqueceu a senha" */
    cursor: pointer; /* Aponta como um link */
    text-decoration: underline; /* Adiciona sublinhado */
    margin-bottom: 63px;
    margin-left: 95px;
    font-weight: lighter;
    text-decoration: none;
}
