
body {
    margin: 0;

}

header {
    display: flex;
    background-color: rgb(207, 207, 207);
    flex-direction: row;
    justify-content: space-between;
}

header img {
    border-radius: 20px;
    padding: 10px 10px;

}

.lista {
    background-color: rgb(83, 143, 49, 100);
    border-bottom-left-radius: 40px;
    margin-left: -50px;
    

}

.lista nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.lista nav a {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: white;

}

.lista nav a:last-child {
    margin-right: 25px;

}

.lista-e-endereco {
    display: flex;
    flex-direction: column;
}

.enderecos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.enderecos a {
    padding-left: 50px;

}

.informacao {
    width: 100px;
    margin-left: -260px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.enderecos2 { 
    justify-content: space-between;

}

.texto {
    width: 450px;

}

footer {
    display: flex;
    height: fit-content;
    justify-content: space-around;
    background-color: gray;

}

footer h5 {
    margin: 0;
    margin-right: 200px;
    margin-bottom: 0px;
}

footer img {
    padding: 5px;
    border-radius: 20px;
    width: 100px;

}
